<div class="card">
	<div class="card-bold">
		<h2>Historial</h2>

		<ul class="logs">
		  <li *ngFor="let log of logs; let i = index">
			<a routerLink="/detalle-log/{{log.id}}">
			  <span class="badge">{{log.id}}</span> Date = {{log.fecha }}
			</a>
			<select name="Estado" [(ngModel)]="selection[i]" [disabled]="i!=this.editingLog">
			  <option value="Pendiente">Pendiente</option>
			  <option value="Ausente">Ausente</option>
			  <option value="Aprobado">Aprobado</option>
			  <option value="Desaprobado">Desaprobado</option>
			</select>
			<div class="btn-group" role="group">
				<button class="btn btn-outline-secondary icon-btn" title="Editar" type="button" (click)="modify(log, i)" *ngIf="i!=this.editingLog"><i class="fa fa-edit"></i></button>
				<button class="btn btn-outline-secondary icon-btn" title="confitmar" type="button" (click)="conformModify(log, i)" *ngIf="i==this.editingLog"><i class="fa fa-check-cicle-o"></i></button>
				<button class="btn btn-outline-secondary icon-btn" title="borrar log" type="button"(click)="delete(log, i)" ><i class="fa fa-eraser"></i></button>
			</div>  
		  </li>
		</ul>
	