	<h4 class="card-title">Seleccione la carrera a la que pertenece la materia a la que se quiere anotar</h4>

	<table class="table">
	  <tr *ngFor="let carrera of carreras" [ngClass]="selectedCarrera&&(selectedCarrera.nombre==carrera.nombre)?'table-success':'table-primary'">
	  	<td>{{carrera.nombre}}</td>
	  	<td><button class="btn btn-success" (click)="setCarrera(carrera)">Seleccionar</button></td>
	  </tr>
	</table>

<app-inscr-materias [hidden]="!this.selectedCarrera" [carrera]="this.selectedCarrera"></app-inscr-materias>