<form [formGroup]="carreraForm" (ngSubmit)="add(carreraForm)" class="forms-sample">
	<div class="form-group row">
	  <div class="col-sm-5"><input class="form-control" formControlName="nombre" placeholder="Nombre de la carrera" [attr.disabled]="isEdit ? true : null"></div>
	  <div class="col-sm-2"><input class="form-control" type="number" formControlName="cantidadMaterias" placeholder="Cantidad de materias:"></div>
		<button type="button" class="btn btn-primary" (click)="addSubjects(carreraForm.get('cantidadMaterias').value)">Agregar materias</button>
	</div>
	<div>
		<div formArrayName="subjects"
		 		*ngFor="let subject of carreraForm.get('subjects').controls; let i = index;">
		 		<div class="form-group row">
		 			<div class="col-sm-5">
			    <input class="form-control" placeholder="Nombre de la materia" value="{{ subject.value }}" formControlName="{{ i }}"></div>
		  		<button class="btn btn-danger" type="button" (click)="deleteSubject(i)"><i class="fa fa-times-rectangle"></i></button>
				</div>
		</div>
		<button class="btn btn-primary" type="button" (click)="addSubjects(1)"><i class="fa fa-plus-square"></i>1</button>
	</div>

	<button
      type="submit"
      class="btn btn-success"
      [attr.disabled]="submitting ? true : null"
      [innerText]="submitBtnText"></button>

</form>
